braceexpand
deepdiff
einops
evaluate
ftfy
h5py
horovod
jsonlines
librosa
mutagen
numpy
omegaconf
packaging
pandas
Pillow
pydub
regex
regex
scikit_learn
scipy
sentence_transformers
soundfile
timm
torch
torchaudio
torchlibrosa
torchmetrics
torchvision
tqdm
transformers
webdataset
wget
tensorflow
